header {
    background-image: url("../../assets/headerImg2.jpg");
    background-size: cover; 
    background-position: center; 
  }
  
  body, html {
      display: flex;
      height: 100vh;
      max-height: 5000px;
      max-width: 5000px;
      margin-left: 0%;
      margin-right: 0%;
      padding-left: 0%;
      padding-right: 0%;
  
      background-size: cover;
  }
  
  .container {
      height: 100%;
      width: 100%;
      max-height: 5000px;
      max-width: 5000px;
      background-color: #063146;
      background-size: cover;
  
      margin: auto;
  
      font-family: 'Courier New', Courier, monospace;
  }
    
  .bg {
      /* The image used */
    
      /* Full height */
      height: 100%;
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  /*--------------------------------------------------------------------------------------------------------STILIZOVANJE DUGMADI*/
  
  .customDarkBtn {
    color:rgb(200, 200, 236);
    background-color:#0a5275; /* Dark color for the button */
    border-color:cornflowerblue; /* Border color for the button */
  }
  
  .customDarkBtn:hover {
    color: rgb(200, 200, 236);
    background-color: #031c35; /* Darker color on hover */
    border-color: #031c35; /* Border color on hover */
  }
  
  /*--------------------------------------------------------------------------------------------------------KRAJ STILIZOVANJA DUGMADI*/

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; 
  }

  input[type="text"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; 
  }

  input[type="password"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }